# Ignore all files by default
*

# Allow the gitignore file itself
!.gitignore

# Allow the banking project folder and its contents
!banking project/
!banking project/**

# Allow the healthcare project folder and its contents
!healthcare project/
!healthcare project/**
